<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/img-ground.png">
    <title>Message</title>
    <link rel="stylesheet" href="/fonts/fontawesome-free-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <div class="app">

        <div class="sidebar">

        </div>

        <div class="wrapper">
            <header class="header">
                <div class="img-ground">
                    <div class="avt-ground" style="background-image: url('/img/img-ground.png');"></div>
                </div>
                <div class="ground-name">
                    <h1>Trao gửi yêu thương =))</h1>
                </div>
            </header>

            <div class="container">
                <div class="start-message">
                    <div class="img-ground">
                        <div class="avt-ground" style="background-image: url('/img/img-ground.png');"></div>
                    </div>
                    <div class="ground-name">
                        <h1>Trao gửi yêu thương =))</h1>
                    </div>
                </div>
                <ul class="list-message">
                    <li class="item-message">
                        <div class="wrap-img-user">
                            <div class="img-user">
                                <div class="avt-user" style="background-image: url('/img/img-ground.png');"></div>
                            </div>
                        </div>
                        <div class="box-message">
                            <h4 class="user-name">Duy Đức</h4>
                            <div class="wrap-message">
                                <p class="content-message">hello xin chào cả nhà rất nhiều ạ</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <footer class="footer">
                <form action="" class="form-input">
                    <input type="text" class="chat-input" placeholder="Nhập tin nhắn">
                    <button class="btn-send"><i class="fa-solid fa-paper-plane"></i></button>
                </form>
            </footer>
        </div>
        
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/javascript/app.js"></script>

</body>

</html>